@use "../../../presets" as *;
@use "../../../mixins" as *;



h3 {
  letter-spacing: 0.05em;
  color: #637588;
  font-size: 1.125rem;
}

.posts {
  display: grid;
  padding-top: $gap-x5;
  padding-bottom: $gap-x5;
  contain: content;
}

.post {
display: grid;

  &__container {
    max-width: 1340px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__title {

  }

  &__grid {
    padding-bottom: 20px;
    gap: 20px;
    display: grid;
  //  grid-template-rows: 300px 1fr;
   grid-template-areas: "p1 p1 p2 p3""p4 p5 p6 p6";
    grid-template-columns: repeat(4, 1fr);

  }

}

.post-item {
  background-repeat: no-repeat;

  &__link {
    display: grid;
    min-height: 100%;
    grid-template-rows: 300px 1fr;
    background-color: $color-gray-light;
position: relative;

overflow: hidden;
height: 100%;

  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
  }

  &__text {
    contain: content;
    padding: 20px;
    display: grid;
    position: relative;
  }




.post-item:nth-of-type(1) {
  grid-area: p1;
}
.post-item:nth-of-type(2) {
  grid-area: p2;
}
.post-item:nth-of-type(3) {
  grid-area: p3;
}
.post-item:nth-of-type(4) {
  grid-area: p4;
}
.post-item:nth-of-type(5) {
  grid-area: p5;
}
.post-item:nth-of-type(6) {
  grid-area: p6;
}
}

/*
.post {
  @include sm-min {
    padding: $gap-sm;
  }

  @include sm {
    padding: $gap;
  }

  &__title {
    letter-spacing: 0.1em;
    font-family: "Roboto Slab", serif;
    line-height: 1.2em;
  }


  &__container {
    @extend %container;
  }

@include lg-min {
  grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
  grid-template-columns: repeat(4, 1fr);
}

@include lg-md {
  grid-template-areas: "p1 p1 p2" "p3 p4 p4" "p5 p6 p6";
  grid-template-columns: repeat(3, 1fr);
}

@include md-sm {
  grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
  grid-template-columns: repeat(2, 1fr);
}

@include sm {
  grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
}


&__actions {
  display: grid;
  justify-content: center;
  margin-bottom: $gap-lg;
  position: relative;
  display: block;
}


@media (min-height: 691px) {
  .posts__container {
    grid-auto-rows: calc(33.33333vh - 13.33333px);
  }
}

@media (max-height: 690px) {
  .posts__container {
    grid-auto-rows: calc(230px - 13.33333px);
  }
}
}*/