@use "../../../presets" as *;
@use "../../../mixins" as *;


html {
  line-height: 1.15;
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h2 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  font-family: "Roboto Slab", serif;
  color: $color-primary;
  margin: 0;
}

p:first-of-type {
  margin-top: -5px;
  position: relative;
}

p {
  color: $color-gray;
  position: relative;
  font-family: "Roboto";
  font-size: 1.125rem;
}

p:last-of-type {
  margin: 0;
}

.content-container {
  @extend %container;
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 271px;
}

.content-title {
  color: $color-primary;
  font-family: "Roboto Slab", serif;
  line-height: 1.15em;
  font-size: 1.125rem;
}

.content-image {
  display: grid;
  align-content: center;
  justify-items: center;
//justify-items: end;

}

.image-bulb {
  max-width: 100%;
  max-height: 480px;
  position: position;
  display: grid;
  align-content: center;
  //justify-items: center;
  border-style: none;
 // margin-right: 2px;
}

.line__vertical {
  position: absolute;
  width: 1.8px;
  height: 200px;
  background-color: rgb(99, 117, 136, 0.1);
  padding: -20px;
  //margin: 140px 319px 0;
  margin: 139px 977px 0;
}

.content {
  background-color: $color-gray-light;
  padding-top: 100px;
  padding-bottom: 100px;
  letter-spacing: 0.055em;
}

.content-container {
  @include md {
    display: block;
    padding-bottom: 20px;
    font-size: 1rem;
    padding-top: 0px;
  }
}
